

.bg-login {
  @media (min-width: 768px) {
    background-image: url('~src/assets/images/login-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

}
