<div class="w-full">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full flex items-center gap-2 mb-2">
    <div class="flex items-center gap-2 w-full">
      <app-label-text [label]="'Speeds: '"/>
      <app-input-select formControlName="value" class="h-[48px] w-full" [placeholder]="placeholder"></app-input-select>
    </div>
    <div *ngIf="amt" class="flex items-center gap-2 w-full">
      <app-label-text [label]="'amt: '"/>
      <app-input-number formControlName="amount" class="h-[48px]" [placeholder]="'0'" />
    </div>
    <div *ngIf="msr" class="flex items-center gap-2 w-full">
      <app-label-text [label]="'msr: '"/>
      <app-input-text formControlName="measure_EN" class="h-[48px] max-w-[60px] w-full" label="msr" placeholder="EN"></app-input-text>
      <app-input-text formControlName="measure_UA" class="h-[48px] max-w-[60px] w-full" label="msr" placeholder="UA"></app-input-text>
    </div>
   <button mat-icon-button type="submit">
      <mat-icon>check_circle</mat-icon>
    </button>
  </form>
  <div class="bg-[#15181F] h-[136px] rounded-xl p-4 border-2 border-[#E2A23B]">
    <div class="flex items-start flex-wrap overflow-y-auto gap-2 properties-container max-h-full">
      <app-multi-select-item *ngFor="let item of selectedItems" [selectedItem]="item" (deleteItem)="removeItemFromList($event)"/>
    </div>
  </div>
</div>
