<div *ngIf="user" class="pt-6 px-[100px] h-full w-full poppins-font">
  <app-border-outline [bg]="'#1E232D'">
    <div class="h-full w-full p-9 flex">
      <div class="left-block flex h-full w-full flex-col gap-14">
        <div class="flex gap-11">
          <button class="w-[360px] h-[360px]">
            <app-visualise-avatar maxw="360px" [avatarUrl]="user.avatarUrl"/>
          </button>
          <div class="flex flex-col gap-8">
            <app-input-text placeholder="Name" class="h-[50px] w-[360px]"/>
            <app-input-text placeholder="Email" class="h-[50px] w-[360px]"/>
            <p class="text-[24px] text-[#B1A79C]">Account created: {{user.dateOfCreation | date: 'MM-dd-yyyy'}}</p>
          </div>
        </div>
        <div class="flex h-[50px] text-center">
          <a class="bg-[#15181F] border-2 border-[#E2A23B] text-[#B1A79C] text-[16px] w-[33%] flex items-center justify-center font-normal" [routerLink]="'../' + 'universes'">
            My universe and settings
          </a>
          <a class="bg-[#15181F] border-2 border-[#E2A23B] text-[#B1A79C] text-[16px] w-[33%] flex items-center justify-center font-normal" [routerLink]="'../' + 'games'">
            My Games
          </a>
          <a class="bg-[#15181F] border-2 border-[#E2A23B] text-[#B1A79C] text-[16px] w-[33%] flex items-center justify-center font-normal" [routerLink]="'../' + 'creatures'">
            My creatures
          </a>
        </div>
      </div>
      <div class="right-block w-full max-w-[292px]">
        <div class="bg-[#15181F] border-2 border-[#E2A23B] w-full p-5 flex flex-col items-center gap-[10px]">
          <img class="h-[340px]" [src]="getUserSubImage(user.subscription.type)" alt="">
          <div class="flex flex-col items-center gap-[5px]">
            <p class="text-[#FAFD5D] text-[32px]">{{user.subscription.type}}</p>
            <p class="text-[#FAFD5D] text-[22px]">expires in:{{user.subscription.dateOfExpire | date: 'MM-dd-yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </app-border-outline>
</div>
