<div class="p-4 flex flex-col items-center gap-4">
  <h3 class="playfair-font text-[30px] text-[#E2A23B]">What to do with paragraph?</h3>
  <div class="flex items-center gap-2 poppins-font">
    <button (click)="outputDecision('delete')" class="h-[48px] w-[120px] rounded-[10px] bg-[#E2A23B] text-[20px] poppins-font">Delete</button>
    <button (click)="outputDecision('edit')" class="h-[48px] w-[120px] rounded-[10px] bg-[#E2A23B] text-[20px] poppins-font">Edit</button>
    <button (click)="outputDecision(null)" class="h-[48px] w-[120px] rounded-[10px] bg-[#E2A23B] text-[20px] poppins-font">Cancel</button>
  </div>
</div>
