<div class="flex gap-2">
  <button (click)="formatText($event)" type="button" class="h-[32px] w-[32px] rounded flex items-center justify-center border border-[#E2A23B]">
    <mat-icon class="text-[#E2A23B]">
      text_format
    </mat-icon>
  </button>
  <button type="button" class="h-[32px] w-[32px] rounded flex items-center justify-center border border-[#E2A23B]">
    <mat-icon class="text-[#E2A23B]">
      color_lens
    </mat-icon>
  </button>
  <button type="button" class="h-[32px] w-[32px] rounded flex items-center justify-center border border-[#E2A23B]">
    <app-d20-icon/>
  </button>
</div>
