<div *ngIf="isAuthed; else loginBth">
  <div class="w-[50px] h-[50px]" [matMenuTriggerFor]="loginMenu">
    <app-visualise-avatar class="max-w-[50px] max-h-[50px]" [avatarUrl]="user?.avatarUrl"/>
  </div>
  <mat-menu class="rounded-[10px]" #loginMenu>
    <button *ngIf="isAdmin" mat-menu-item [routerLink]="['/' + 'admin']" >{{'Admin' | transloco}}</button>
    <button [routerLink]="['/' + 'user/profile']" mat-menu-item>{{'Profile' | transloco}}</button>
    <button (click)="logout()" mat-menu-item>{{'Logout' | transloco}}</button>
  </mat-menu>
</div>
<ng-template #loginBth>
  <a routerLink="auth"
     class="p-2 w-[100px] block text-center rounded bg-[#E2A23B] playfair-font font-semibold my-3">
    <span class="mx-auto">{{'Login' | transloco}}</span>
  </a>
</ng-template>
