<div class="pb-5 poppins-font flex-col items-start" *ngIf="paragraph.type === 'text' && textParagraphOptions">
  <p class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-4" *ngIf="paragraph.title">{{paragraph.title}}</span>
    <span class="text-[28px] text-[#B1A79C]">{{textParagraphOptions.description}}</span>
  </p>
</div>

<div class="pb-5 poppins-font flex flex-col justify-center items-center gap-2" *ngIf="paragraph.type === 'image' && imageParagraphOptions"
     [ngClass]="{
      'image-left': imageParagraphOptions.photoAlignment === 'left',
      'image-right': imageParagraphOptions.photoAlignment === 'right',
    }"
>
  <img
    class="w-full h-full"
    [src]="baseUrl + '/uploads/' + imageParagraphOptions.imageUrl"
    [ngStyle]="{
    'width': imageParagraphOptions.width + 'px',
    'height': imageParagraphOptions.height + 'px'
    }"
    alt="IMG"
  />
  <p *ngIf="paragraph.title" class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-4" >{{paragraph.title}}</span>
  </p>
</div>

<div class="pb-5 poppins-font" *ngIf="paragraph.type === 'number' && numberParagraphOptions">
  <p class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-2" *ngIf="paragraph.title">{{paragraph.title}}</span>
    <span class="text-[28px] text-[#B1A79C]">{{numberParagraphOptions.value}}</span>
  </p>
</div>

<div class="pb-5 poppins-font" *ngIf="paragraph.type === 'list'">
  <h3 class="text-[#E2A23B] text-[36px]" *ngIf="paragraph.title">{{paragraph.title}}</h3>
<!--  <ul *ngIf="paragraph.metadata.type === 'number'">-->
<!--    <li *ngFor="let item of paragraph.metadata.listItems; let i = index">{{i + 1}}. {{item}}</li>-->
<!--  </ul>-->
<!--  <ul *ngIf="paragraph.metadata.type === 'letter'">-->
<!--    <li *ngFor="let item of paragraph.metadata.listItems; let i = index">{{String.fromCharCode(97 + i)}}. {{item}}</li>-->
<!--  </ul>-->
<!--  <ul *ngIf="paragraph.metadata.type === 'symbol'">-->
<!--    <li *ngFor="let item of paragraph.metadata.listItems">&#8226; {{item}}</li>-->
<!--  </ul>-->
</div>

<div class="pb-5 poppins-font" *ngIf="paragraph.type === 'date' && dateParagraphOptions">
  <p class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-2" *ngIf="paragraph.title">{{paragraph.title}}</span>
    <span class="text-[36px] text-[#B1A79C]">
      {{dateParagraphOptions.day ? dateParagraphOptions.day + '-' : ''}}
      {{dateParagraphOptions.month ? dateParagraphOptions.month + '-' : ''}}
      {{dateParagraphOptions.year ? dateParagraphOptions.year : ''}}
    </span>
  </p>
</div>
