<div class="pb-5 poppins-font flex-col items-start" *ngIf="paragraph.type === 'text' && textParagraphOptions">
  <p class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-4" *ngIf="paragraph.title">{{paragraph.title}}</span>
    <span class="text-[28px] text-[#B1A79C]">{{textParagraphOptions.description}}</span>
  </p>
</div>

<div class="pb-5 poppins-font flex flex-col justify-center items-center gap-2" *ngIf="paragraph.type === 'image' && imageParagraphOptions"
     [ngClass]="{
      'image-left': imageParagraphOptions.photoAlignment === 'left',
      'image-right': imageParagraphOptions.photoAlignment === 'right',
    }"
>
  <img
    class="w-full h-full"
    [src]="baseUrl + '/uploads/' + imageParagraphOptions.imageUrl"
    [ngStyle]="{
    'width': imageParagraphOptions.width + 'px',
    'height': imageParagraphOptions.height + 'px'
    }"
    alt="IMG"
  />
  <p *ngIf="paragraph.title" class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-4" >{{paragraph.title}}</span>
  </p>
</div>

<div class="pb-5 poppins-font" *ngIf="paragraph.type === 'number' && numberParagraphOptions">
  <p class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-2" *ngIf="paragraph.title">{{paragraph.title}}</span>
    <span class="text-[28px] text-[#B1A79C]">{{numberParagraphOptions.value}}</span>
  </p>
</div>

<div class="pb-5 poppins-font" *ngIf="paragraph.type === 'list' && listParagraphOptions">
  <h3 class="text-[#E2A23B] playfair-font text-[36px]" *ngIf="paragraph.title">{{paragraph.title}}</h3>
  <ul *ngIf="listParagraphOptions.type === 'number'">
    <li class="text-[28px] playfair-font text-[#B1A79C]" *ngFor="let item of listParagraphOptions.listItems; let i = index"><span class="text-[28px] text-[#E2A23B]">{{i + 1}})</span> {{item}}</li>
  </ul>
  <ul *ngIf="listParagraphOptions.type === 'letter'">
    <li class="text-[28px] playfair-font text-[#B1A79C]" *ngFor="let item of listParagraphOptions.listItems; let i = index"><span class="text-[28px] text-[#E2A23B]">{{String.fromCharCode(97 + i)}})</span> {{item}} </li>
  </ul>
  <ul *ngIf="listParagraphOptions.type === 'symbol'">
    <li class="text-[28px] playfair-font text-[#B1A79C]" *ngFor="let item of listParagraphOptions.listItems"><span class="text-[28px] text-[#E2A23B]">&#8226;</span> {{item}}</li>
  </ul>
</div>

<div class="pb-5 poppins-font" *ngIf="paragraph.type === 'date' && dateParagraphOptions">
  <p class="text-white text-xl 768:text-2xl playfair-font">
    <span class="text-[#E2A23B] text-[36px] pr-2" *ngIf="paragraph.title">{{paragraph.title}}</span>
    <span class="text-[36px] text-[#B1A79C]">
      {{dateParagraphOptions.day ? dateParagraphOptions.day + '-' : ''}}
      {{dateParagraphOptions.month ? dateParagraphOptions.month + '-' : ''}}
      {{dateParagraphOptions.year ? dateParagraphOptions.year : ''}}
    </span>
  </p>
</div>
