<div class="h-full w-full flex flex-col gap-10">
  <h2 class="playfair-font text-[#E2A23B] text-[48px] font-semibold">
    Name and Gallery
  </h2>
  <div class="grid grid-cols-2 w-full h-full gap-[30px]">
    <div class="flex max-w-[500px] flex-col gap-[30px]">
      <div class="flex w-full justify-between">
        <div class="max-w-[280px] w-full h-[48px] border-2 border-[#E2A23B] rounded-[10px] p-3">
          <input [(ngModel)]="hatPayload.universeName" class="h-full w-full text-[16px] text-[#B1A79C] poppins-font bg-transparent outline-0" [placeholder]="'Setting Name'">
        </div>
        <div class="flex gap-5">
          <button (click)="setPhotoAlignment('left')" [disabled]="hatPayload.imagePosition === 'left'" class="photo-alignment w-[48px] h-[48px] flex items-center justify-center border-2 disabled:border-[#B1A79C] border-[#E2A23B] rounded-[10px]">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0V4.57143H32V0H0ZM0 9.14286V13.7143H22.8571V9.14286H0ZM0 18.2857V22.8571H32V18.2857H0ZM0 27.4286V32H22.8571V27.4286H0Z"/>
            </svg>
          </button>
          <button (click)="setPhotoAlignment('right')" [disabled]="hatPayload.imagePosition === 'right'" class="photo-alignment w-[48px] h-[48px] flex items-center justify-center border-2 disabled:border-[#B1A79C] border-[#E2A23B] rounded-[10px]">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M32 0V4.57143H0V0H32ZM32 9.14286V13.7143H9.14286V9.14286H32ZM32 18.2857V22.8571H0V18.2857H32ZM32 27.4286V32H9.14286V27.4286H32Z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="flex image-load w-full min-h-[500px]">
        <app-input-file [currentImage]="lastLoaded" (fileLoaded)="addFileToList($event)" [removeLastUploaded]="false" class="w-full "/>
      </div>
    </div>
    <div class="flex items-end justify-end flex-col h-full w-full">
      <div class="w-[500px] h-[500px] grid grid-cols-2 gap-5">
        <ng-container *ngFor="let image of hatPayload.images; let i = index">
          <div *ngIf="i < 3" class="w-[240px] rounded-[10px] border-2 border-[#E2A23B] h-[240px] overflow-hidden">
            <img (click)="deleteImageFromUpload(image)" [src]="baseUrl + '/uploads/' + image" alt="">
          </div>
          <div *ngIf="i === 3" class="w-[240px] rounded-[10px] border-2 border-[#E2A23B] h-[240px] overflow-hidden">
            <ng-container *ngIf="hatPayload.images.length > 4">
              <div class="flex bg-[#15181F] items-center h-full w-full justify-center poppins-font text-[32px] text-[#B1A79C] font-bold">
                {{ hatPayload.images.length - 3 }} more...
              </div>
            </ng-container>
            <ng-container *ngIf="hatPayload.images.length === 4">
              <img [src]="baseUrl + '/uploads/' + image" alt="Image error">
            </ng-container>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>
