.photo-alignment {
  svg {
    path {
      fill: #E2A23B
    }
  }

  &:disabled {
    svg {
      path {
        fill: #B1A79C;
      }
    }
  }
}

.image-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.image-right {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
