<div class="w-full rounded-full">
  <div class="p-2 flex gap-2 flex-col w-full">
    <div class="flex flex-col border border-[#1E232DFF] rounded p-2 w-full" *ngFor="let filter of filters">
      <h2 class="text-2xl text-[#E2A23B] playfair-font">
        {{filter.filter_cat | transloco | titlecase}}
      </h2>
      <div class="flex flex-wrap gap-2 mt-2.5 w-full">
        <div *ngFor="let value of filter.filter_values">
          <app-border-outline>
            <div class="flex items-center gap-1 px-3">
              <p class="text-[#E2A23B] text-center min-w-[40px] p-3 cursor-pointer">{{value.name[currentLang]}}</p>
              <app-border-outline>
                <button (click)="editAttribute(value.id, filter.filter_cat)" class="p-1 w-[30px] h-[30px] flex items-center justify-center">
                  <mat-icon class="text-[#E2A23B]">edit</mat-icon>
                </button>
              </app-border-outline>
              <app-border-outline>
                <button (click)="removeAttribute(value.id, filter.filter_cat)" class="p-1 w-[30px] h-[30px] flex items-center justify-center">
                  <mat-icon class="text-[#E2A23B]">delete</mat-icon>
                </button>
              </app-border-outline>
            </div>
          </app-border-outline>
        </div>
      </div>
    </div>
  </div>
</div>

