<div class="py-6">
  <form [formGroup]="form" (ngSubmit)="onListChange()" class="flex flex-col w-full gap-7">
    <div class="flex gap-10 w-full">
      <div class="w-full">
        <div class="flex justify-between items-center">
          <h2
            class="flex items-center justify-center text-4xl font-semibold playfair-font text-[#E2A23B]">{{blockName}}</h2>
          <div class="flex items-center gap-2">
            <app-label-text [label]="'Title EN'"/>
            <app-input-text formControlName="titleEN" class="h-[48px]" [placeholder]="'Title EN'"/>
          </div>
        </div>
        <div class="mt-2 h-[140px]">
          <app-text-area-input formControlName="descriptionEN" [placeholder]="'Description EN'"/>
        </div>
      </div>
      <div class="w-full">
        <div class="flex items-center justify-end gap-2">
          <app-label-text [label]="'Title UA'"/>
          <app-input-text formControlName="titleUA" class="h-[48px]" [placeholder]="'Title UA'"/>
        </div>
        <div class="mt-2 h-[140px]">
          <app-text-area-input formControlName="descriptionUA" [placeholder]="'Description UA'"/>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <button class="h-[48px] max-w-[300px] text-center text-2xl bg-[#FAFD5D] font-bold rounded-xl w-full" type="submit">ADD</button>
    </div>
  </form>
  <div class="w-full mt-7 h-[200px]">
    <app-border-outline>
      <div class="rounded-xl bg-[#15181F] h-full mx-4 py-4 flex flex-col items-start gap-1 w-full overflow-y-auto properties-container">
        <app-title-text-item class="w-full" *ngFor="let item of titleTextList" [titleText]="item"/>
      </div>
    </app-border-outline>
  </div>
</div>
