<div *ngIf="universe" class="w-full h-full">
  <div *ngIf="universe.hat; else createHeader" class="flex justify-between items-center">
    <h2 class="text-[#E2A23B] playfair-font text-[48px]">{{universe.hat.universeName}}</h2>
    <div class="flex gap-5 items-center">
      <button class="flex items-center justify-center w-[48px] h-[48px] border-2 bg-[#1E232D] rounded-[12px] border-[#E2A23B]">
        <mat-icon class="text-[#E2A23B]">edit</mat-icon>
      </button>
      <button class="flex items-center justify-center w-[48px] h-[48px] border-2 bg-[#1E232D] rounded-[12px] border-[#E2A23B]">
        <mat-icon class="text-[#E2A23B]">delete</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="universe && universe.hat">
    <div [ngClass]="{
      'image-left': universe.hat.imagePosition === 'left',
      'image-right': universe.hat.imagePosition === 'right',
      }">
      <app-image-swiper [images]="universe.hat.images"/>
    </div>
    <div *ngFor="let descriptionElement of sortedByOrder(universe.hat.description)">
      <app-description-structural-paragraph [paragraph]="descriptionElement"/>
    </div>
    <div class="flex  gap-11 flex-col w-full h-full">
      <app-universe-category *ngFor="let category of universe.categories" class="w-full h-full" [category]="category" />
    </div>
  </div>
  <ng-template #createHeader>
    <a [routerLink]="['./' + 'header']" class="w-full cursor-pointer poppins-font flex items-center justify-center h-20 bg-[#FAFD5D] rounded-[10px] text-[24px] font-semibold">
      Create Header
    </a>
  </ng-template>
  <button class="w-full mt-[20px] poppins-font h-20 bg-[#FAFD5D] rounded-[10px] text-[24px] font-semibold">
    Create Category
  </button>
</div>
