<div class="w-[400px] h-[340px] rounded-full">
  <app-border-outline>
    <form class="flex flex-col justify-between items-center h-full w-full px-[60px] py-[32px]" [formGroup]="modalForm" (ngSubmit)="submitData()">
      <h2 class="poppins-font text-3xl text-[#B1A79C] font-semibold">{{'ADD' | transloco}} {{data.attr_cat | transloco}}</h2>
      <app-input-text formControlName="en" class="h-[48px] max-w-[280px] w-full" [placeholder]="'EN'"/>
      <app-input-text formControlName="ua" class="h-[48px] max-w-[280px] w-full" [placeholder]="'UA'"/>
      <button [disabled]="modalForm.invalid" type="submit" class="h-[40px] w-[160px] bg-[#E2A23B] playfair-font font-semibold rounded">Confirm</button>
    </form>
  </app-border-outline>
</div>
