<div class="mt-[-48px] 768:mt-[-112px]">
  <app-tier-first></app-tier-first>
  <div class="1280:mt-[-23px] 1280:mb-[-23px]">
    <div class="py-2 flex justify-center items-center">
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] 768:h-[2.5px] w-full bg-[#DD4333] w-full"></div>
      <div class="w-[117px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="117" height="32" viewBox="0 0 117 32" fill="none">
          <path d="M0 16.2074H39.9405L53.0558 3L65 15.0282" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
          <path d="M116 16.2074H77.0595L63.9442 29.4148L52 17.3866" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
        </svg>
      </div>
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] w-full bg-[#DD4333] w-full"></div>
    </div>
    <div class="playfair-font flex w-full">
      <h1 class="text-4xl mx-auto text-[#E2A23B] font-semibold">
        {{ 'BESTIARY' | transloco }}
      </h1>
    </div>
    <div class="py-2 flex justify-center items-center">
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] w-full bg-[#DD4333] w-full"></div>
      <div class="w-[117px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="117" height="32" viewBox="0 0 117 32" fill="none">
          <path d="M0 16.2074H39.9405L53.0558 3L65 15.0282" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
          <path d="M116 16.2074H77.0595L63.9442 29.4148L52 17.3866" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
        </svg>
      </div>
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] w-full bg-[#DD4333] w-full"></div>
    </div>
  </div>
  <app-tier-bestiary></app-tier-bestiary>
  <div class="1280:mt-[-23px] 1280:mb-[-23px]">
    <div class="py-2 flex justify-center items-center">
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] 768:h-[2.5px] w-full bg-[#DD4333] w-full"></div>
      <div class="w-[117px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="117" height="32" viewBox="0 0 117 32" fill="none">
          <path d="M0 16.2074H39.9405L53.0558 3L65 15.0282" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
          <path d="M116 16.2074H77.0595L63.9442 29.4148L52 17.3866" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
        </svg>
      </div>
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] w-full bg-[#DD4333] w-full"></div>
    </div>
    <div class="playfair-font flex w-full">
      <h1 class="text-4xl mx-auto text-[#E2A23B] font-semibold">
        {{'COMING SOON' | transloco}}!
      </h1>
    </div>
    <div class="py-2 flex justify-center items-center">
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] w-full bg-[#DD4333] w-full"></div>
      <div class="w-[117px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="117" height="32" viewBox="0 0 117 32" fill="none">
          <path d="M0 16.2074H39.9405L53.0558 3L65 15.0282" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
          <path d="M116 16.2074H77.0595L63.9442 29.4148L52 17.3866" stroke="#DD4333" stroke-width="3" stroke-miterlimit="10" stroke-linecap="square"/>
        </svg>
      </div>
      <div class="mt-[1.5px] 768:mt-0 h-[2.5px] w-full bg-[#DD4333] w-full"></div>
    </div>
  </div>
</div>
