.welcome-bg {
  @media (min-width: 768px) {
    background-image: url('~src/assets/images/bg-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}
