<div class="pt-[100px] 768:pt-[220px] 768:h-[800px] flex flex-col gap-5 w-full px-3 768:px-[20px] 1280:px-[100px] welcome-bg">
  <h2 class="text-white text-2xl playfair-font">
    Explore the
  </h2>
  <h1 class="text-4xl text-[#E2A23B] playfair-font font-bold">
    VIRIBUS UNITIS
  </h1>
  <p class="text-md text-[#E9DEC3] max-w-[500px]">An immersive world, full of adventures, mystic, lore, dragons and battles! Jump in the setting, which has been creating over 5 years!</p>
  <div class="poppins-font">
    <p class="text-white mb-1">Explore more</p>
    <button class="max-w-[220px] w-full text-center h-[50px] rounded bg-[#E9DEC3]">In our Telegram!</button>
  </div>
</div>
