.image-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.image-right {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.openMenu {
  transform: translate3d(262px, 0, 0);

  svg {
    rotate: 180deg;
  }
}
