// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bestiary_front-primary: mat.define-palette(mat.$indigo-palette);
$bestiary_front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bestiary_front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bestiary_front-theme: mat.define-light-theme((
  color: (
    primary: $bestiary_front-primary,
    accent: $bestiary_front-accent,
    warn: $bestiary_front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bestiary_front-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins&display=swap');
@import url('https://db.onlinewebfonts.com/c/51b459eae74df5b00ba922028ccb20be?family=Password');

@tailwind base;
@tailwind components;
@tailwind utilities;



.playfair-font {
  font-family: 'Playfair Display', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.password-font {
  font-family: 'Password', sans-serif;
}

html {
  height: 100%;
  background: #15181F;
}

html, body {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E2A23B;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #E2A23B;
  }

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-bg {
  background: #15181F;
}

.switch-lang {
  .mat-select-panel-wrap {
    border: 1px solid #E2A23B;
    border-radius: 0.25rem;
  }
}

.vu-select {
  .mat-mdc-select-trigger {
    color: #B1A79C !important;

    .mat-mdc-select-placeholder {
      color: #B1A79C !important;
    }
  }
}


.vu-select.mat-mdc-select-panel {
  background: #1E232DFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  border: 1px solid #E2A23B;

  .mdc-list-item__primary-text {
    color: #E2A23B;
  }
}

.vu-select {
  svg {
    path {
      fill: #E2A23B;
    }
  }

  &.mat-mdc-select-panel {
    max-width: 90%;
  }
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  background: transparent!important;
}
mat-snack-bar-container {
  background: #1E232DFF !important;
  border: 2px solid #E2A23B !important;
  border-radius: 10px !important;

  .mdc-snackbar__surface {
    border-radius: 10px !important;
    background: #1E232DFF !important;
  }
}

.mat-mdc-menu-content {
  background: #1E232DFF !important;
  border: 2px solid #E2A23B !important;

  .mat-mdc-menu-item-text {
    color: #B1A79C;
  }
}
.mat-mdc-button-base.mat-mdc-icon-button.mat-unthemed.mdc-icon-button {
  display: flex;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  background: #15181F !important;
  border: 2px solid #E2A23B !important;
  overflow-x: hidden;
}

.mat-mdc-dialog-surface.mdc-dialog__surface::-webkit-scrollbar {
  width: 5px;
}

.mat-mdc-dialog-surface.mdc-dialog__surface::-webkit-scrollbar-track {
  background: none;
}

.mat-mdc-dialog-surface.mdc-dialog__surface::-webkit-scrollbar-thumb {
  background-color: #E2A23B;
  border-radius: 20px;
  margin-left: -5px;
}

.mat-drawer-content {
  overflow: hidden !important;
}

mat-drawer {
  position: fixed !important;
}

.mat-drawer {
  animation-duration: 500ms;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #E2A23B !important;
}
