
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bestiary_front-primary: mat.define-palette(mat.$indigo-palette);
$bestiary_front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bestiary_front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bestiary_front-theme: mat.define-light-theme((
  color: (
    primary: $bestiary_front-primary,
    accent: $bestiary_front-accent,
    warn: $bestiary_front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bestiary_front-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins&display=swap');
@import url('https://db.onlinewebfonts.com/c/51b459eae74df5b00ba922028ccb20be?family=Password');

@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair-font {
  font-family: 'Playfair Display', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.password-font {
  font-family: 'Password', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-bg {
  background: #15181F;
}

.switch-lang {
  .mat-select-panel-wrap {
    border: 1px solid #E2A23B;
    border-radius: 0.25rem;
  }
}
