<app-border-outline [border_color]="request.isRead ? '#616465' : '#E2A23B'">
  <div class="w-full p-2">
    <div>
      <p class="text-[#B1A79C]">{{request.dateOfCreation | date: 'MM.dd.YYYY - hh:mm'}}</p>
    </div>
    <div class="w-full h-full flex justify-between items-center">
      <h3
        class="text-[#B1A79C] whitespace-nowrap overflow-x-hidden overflow-ellipsis max-w-[80%]">{{request.text}}</h3>
      <app-border-outline [border_color]="request.isRead ? '#616465' : '#E2A23B'" class="w-[32px] h-[32px]">
        <button (click)="deleteMessage(request.id, $event)" class="flex items-center justify-center w-full">
          <mat-icon class="text-[#E2A23B]">delete_forever</mat-icon>
        </button>
      </app-border-outline>
    </div>
  </div>
</app-border-outline>
